@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #94FFE7;
	background-image: url('images/bg.svg');
    font-family: 'Figtree', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) saturate(200%) brightness(70%);
    color: #fff;
    display: flex;
    height: 85px;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 0 1%;
    z-index: 5;
    margin: auto;
}

nav img {
    height: 60px;
    width: auto;
    margin-right: 12px;
	margin-left: 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

nav h1 {
    font-size: 35px;
    font-weight: 700;
    margin-right: 1%;
}

.content {
    flex-direction: column;
    align-items: left;
    padding: 7vw;
    padding-top: 0vw;
}

.content hr {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
    margin: 1vw 0;
}
 
#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 130px;
    padding-bottom: 5vw;

}
 
#games img {    
	height: 180px;
    width: auto;
    border-radius: 1vw;
    margin: .5vw;
    cursor: pointer;
    user-select: none;
    transition: transform .2s;
}
 
#games img:hover {
    transform: scale(1.07);
}

footer {
    margin-top: -50px;
    text-align: center;
    margin-bottom: 35px;
}

    footer p {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 500;
    }